@import url("popup.css");
@import url("homepage.css");
@import url("games.css");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
    --bg-color: #fafafa;
    --secondary-bg-color: #eff1f5;
    --text-color: #000000;
    --overlay: rgba(0, 0, 0, 0.1);
    --overlay-dark: rgba(0, 0, 0, 0.15);
    --button-bg-color: #4758b5;
    --button-hover-bg-color: #354287;
    --shadow: 1px 2px 2px rgba(17, 24, 39, .15);
}

.arcadehub-dark {
    --bg-color: #303031;
    --secondary-bg-color: #37373a;
    --text-color: #ffffff;
    --overlay: rgba(255, 255, 255, 0.1);
    --overlay-dark: rgba(255, 255, 255, 0.15);
    --button-bg-color: #354287;
    --button-hover-bg-color: #4758b5;
    --shadow: 1px 2px 2px rgba(17, 24, 39, .3);
}

.arcadehub-fall {
    --bg-color: #f5ddbe;
    --secondary-bg-color: #f28e47;
    --button-bg-color: #a75843;
    --button-hover-bg-color: #bb6333;
}

.arcadehub-winter {
    --bg-color: #c5ecfb;
    --secondary-bg-color: #1e6d02;
    --button-bg-color: #c92118;
    --button-hover-bg-color: #e22017;
    --text-color: #ffffff;
}

.arcadehub-oxocarbon-light {
    --bg-color: #ffffff;
    --secondary-bg-color: #f2f2f2;
    --text-color: #161616;
    --overlay: rgba(0, 0, 0, 0.2);
    --overlay-dark: rgba(255, 255, 255, 0.2);
    --button-bg-color: #4758b5;
    --button-hover-bg-color: #354287;
    --shadow: 1px 2px 2px rgba(0, 0, 0, .15);
}

.arcadehub-oxocarbon-dark {
    --bg-color: #161616;
    --secondary-bg-color: #262626;
    --text-color: #dde1e6;
    --overlay: rgba(0, 0, 0, 0.2);
    --overlay-dark: rgba(255, 255, 255, 0.2);
    --button-bg-color: #354287;
    --button-hover-bg-color: #4758b5;
    --shadow: 1px 2px 2px rgba(0, 0, 0, .3);
}

.arcadehub-catppuccin-latte {
    --bg-color: #eff1f5;
    --secondary-bg-color: #ccd0da;
    --text-color: #4c4f69;
    --overlay: rgba(0, 0, 0, 0.2);
    --overlay-dark: rgba(255, 255, 255, 0.2);
    --button-bg-color: #4758b5;
    --button-hover-bg-color: #354287;
    --shadow: 1px 2px 2px rgba(0, 0, 0, .3);
}

.arcadehub-catppuccin-frappe {
    --bg-color: #303446;
    --secondary-bg-color: #414559;
    --text-color: #c6d0f5;
    --overlay: rgba(0, 0, 0, 0.2);
    --overlay-dark: rgba(255, 255, 255, 0.2);
    --button-bg-color: #354287;
    --button-hover-bg-color: #4758b5;
    --shadow: 1px 2px 2px rgba(0, 0, 0, .15);
}

.arcadehub-catppuccin-macchiato {
    --bg-color: #24273a;
    --secondary-bg-color: #363a4f;
    --text-color: #cad3f5;
    --overlay: rgba(0, 0, 0, 0.2);
    --overlay-dark: rgba(255, 255, 255, 0.2);
    --button-bg-color: #354287;
    --button-hover-bg-color: #4758b5;
    --shadow: 1px 2px 2px rgba(0, 0, 0, .15);
}

.arcadehub-catppuccin-mocha {
    --bg-color: #1e1e2e;
    --secondary-bg-color: #313244;
    --text-color: #cdd6f4;
    --overlay: rgba(0, 0, 0, 0.2);
    --overlay-dark: rgba(255, 255, 255, 0.2);
    --button-bg-color: #354287;
    --button-hover-bg-color: #4758b5;
    --shadow: 1px 2px 2px rgba(0, 0, 0, .15);
}

.arcadehub-midnight {
    --bg-color: #2c2b2c;
    --secondary-bg-color: #323235;
    --text-color: #e4e7f1;
    --overlay: rgba(0, 0, 0, 0.2);
    --overlay-dark: rgba(255, 255, 255, 0.2);
    --button-bg-color: #2e2f31;
    --button-hover-bg-color: #333338;
    --shadow: 1px 2px 2px rgba(0, 0, 0, .15);
}

.arcadehub-dark,
.arcadehub-fall,
.arcadehub-winter,
.arcadehub-oxocarbon-light,
.arcadehub-oxocarbon-dark,
.arcadehub-catppuccin-latte,
.arcadehub-catppuccin-frappe,
.arcadehub-catppuccin-macchiato,
.arcadehub-catppuccin-mocha,
.arcadehub-midnight {
    background-color: var(--bg-color);
}

.snowflake {
    position: absolute;
    top: -10px;
    color: #ffffff;
    pointer-events: none;
}

.theme-selector {
    display: flex;
    align-items: center;
}

#theme-input {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
}

#theme-select {
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 4px;
    background: var(--button-bg-color);
    font-family: "Poppins", sans-serif;
    color: white;
    cursor: pointer;
}

#theme-select option {
    background: white;
    color: black;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;
    color: var(--text-color);
}

body {
    height: 100%;
    background-color: var(--bg-color);
}

@font-face {
    font-display: swap;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Inter-Regular.woff2) format("woff2");
}

@font-face {
    font-display: swap;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/Inter-Medium.woff2) format("woff2");
}

@font-face {
    font-display: swap;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    src: url(../fonts/Inter-SemiBold.woff2) format("woff2");
}

@font-face {
    font-display: swap;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/Inter-Bold.woff2) format("woff2");
}

a {
    text-decoration: none;
    color: inherit !important;
}

.btn {
    font-weight: 500;
    outline-color: transparent;
    background-color: var(--button-bg-color);
    padding: 16px 24px;
    color: #ffffff;
    border-radius: 1rem;
    display: inline-block;
    box-shadow: var(--shadow);
    transition: background-color .15s;
}

.btn:hover {
    background-color: var(--button-hover-bg-color);
    cursor: pointer;
}

.toggle {
    position: relative;
    height: 20px;
    display: flex;
    align-items: center;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 50px;
    background-color: var(--secondary-bg-color);
    transition: .2s;
    border-radius: 14px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 5px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: -2px;
    bottom: -4px;
    background-color: white;
    border-radius: 50%;
    transition: .2s;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 5px;
}

input:checked + .slider {
    background-color: var(--button-hover-bg-color);
}

input:checked + .slider:before {
    transform: translateX(28px);
}

.toggle-label {
    margin-left: 35px; 
    font-weight: 500; 
    color: var(--text-color);
}

.movies, .proxies {
    display: none;
}

.settings {
    display: none;
}

.arcadehub-winter .toggle-label {
    color: black;
}

input:disabled ~ .toggle-label {
    color: #777;
}

.toggle-container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.poppins-btn {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    padding: 8px 10px;
}

/* Modal Styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Black with transparency */
    padding-top: 50px;
}

.modal-content {
    margin: auto;
    background-color: var(--bg-color);
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
}

.modal-content h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.25em;
}

.modal-content label {
    display: block;
    margin-top: 10px;
}

.modal-content input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

.color-picker {
    width: 50px;
    height: 50px;
    border-radius: 1em;
    outline: none;
}

.jump-to-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    width: 50px;
    height: 50px;
    background-color: var(--button-bg-color);
    color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    box-shadow: var(--shadow);
    transition: background-color 0.3s ease;
}

.jump-to-top-btn:hover {
    background-color: var(--button-hover-bg-color);
}

.jump-to-top-btn span {
    display: inline-block;
    transition: transform 0.15s ease;
}

.jump-to-top-btn.flipped span {
    transform: rotate(180deg);
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--button-bg-color);
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--button-hover-bg-color)
}

::-webkit-scrollbar-track {
    background: transparent;
}

@media (max-width: 768px) {
    body {
        font-size: 14px;
    }
    
    .btn {
        padding: 12px 16px;
    }

    .item-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .item-container span {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .topbar {
        flex-direction: column;
    }

    .search-input {
        font-size: 0.9em;
        padding: 8px; 
    }

    .logo {
        font-size: 1.2em;
    }
}