.item-container {
    display: flex;
    grid-template-columns: 1fr;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem;
    border-radius: 15px;
    align-content: center;
    align-items: center;
    width: 95%;
    background: var(--secondary-bg-color);
    box-shadow: var(--shadow);
    transition: padding 0.2s;
}

.item-container:hover {
    padding: 0.65rem;
}

.item-container span {
    height: 100%;
    font-size: 18px;
    padding-left: 12px;
    margin-bottom: 2px;
}

.item-list {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-content: center;
    width: 100%;
}

.btn.favorite-button {
    margin-right: 0.5em;
    background: var(--favorite-button);
    color: black;
}

.btn.favorite-button:hover {
    background: var(--favorite-selected-button);
}

.btn.favorite-button.selected {
    background: var(--favorite-selected-button);
}

.favorites-seperator {
    font-size: 24px;
    margin: 0;
    padding: 4px 2em;
    border-bottom: solid 4px var(--button-hover-bg-color);
}

@media (max-width: 768px) {
    .item-container {
        padding: 1rem;
    }

    .item-container span {
        text-align: center;
        width: 100%;
        padding: 0.25rem 0;
    }

    .item-btn-container {
        width: 100%;
        display: flex;
        grid-template-columns: 1fr;
        flex-direction: row;
    }

    .item-container .btn.play-button {
        flex-grow: 1;
    }

    .item-list {
        gap: 0.5em;
    }
}