#list-container {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-content: center;
    width: 100%;
    padding-bottom: 5em;
}

#list-container .item-container {
    display: flex;
    grid-template-columns: 1fr;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem;
    border-radius: 1em;
    align-content: center;
    align-items: center;
    width: 95%;
    background-color: var(--surface);
    box-shadow: var(--shadow);
    transition: all 0.2s;
}

#list-container .item-container:hover {
    transform: scale(0.99);
}

#list-container .favorite-button {
    margin-right: 0.5em;
    padding: 10px;
    border-radius: 0.5em;
    border: 2px solid var(--border);
    box-shadow: var(--shadow);
    color: var(--on-surface);
    cursor: pointer;
}

#list-container .favorite-button:hover {
    background-color: var(--primary);
    color: var(--surface);
}

#list-container .favorite-button.active {
    border: 2px var(--warning);
    color: var(--surface);
    background-color: var(--warning);
}

#list-container .trash-button {
    margin-right: 0.5em;
    padding: 10px 12px;
    border-radius: 0.5em;
    border: 2px solid var(--border);
    box-shadow: var(--shadow);
    color: var(--on-surface);
    cursor: pointer;
}

#list-container .trash-button:hover {
    background-color: var(--error);
    color: var(--surface);
}

#list-container .button {
    margin-right: 1em;
}

#list-container span {
    padding-left: 1em;
    font-size: 16px;
}

#list-container .seperator {
    flex-grow: 1;
}

#list-container .button-container {
    display: flex;
}


#list-container.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1em;
    justify-content: center;
    align-content: center;
    width: 100%;
    padding: 0 1em;
}

#list-container.grid .item-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    border-radius: 1em;
    background-color: var(--surface);
    box-shadow: var(--shadow);
    transition: all 0.2s;
    text-align: center;
}

#list-container.grid .item-container:hover {
    transform: scale(0.98);
}

#list-container.grid .button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    padding: 0.5em;
    width: 100%;
}

#list-container.grid .play-button {
    flex-grow: 1;
}

#list-container.grid .button {
    margin: 0;
}